In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
# create dataframe from file
df = pd.read_csv("university_data.csv")
print(df.shape)
df.head()

(1534, 10)

,Name,Ranking,Ranking display,Applicants total,Admissions total,Enrolled total,Tuition and fees,Control of institution,Total price for in-state students living on campus,Total price for out-of-state students living on campus
0,Alabama A & M University,1501+,1500+,6142.0,5521.0,1104.0,7182.0,Public,21849.0,27441.0
1,University of Alabama at Birmingham,1501+,1500+,5689.0,4934.0,1773.0,7206.0,Public,22495.0,31687.0
2,Amridge University,1501+,1500+,NaN,NaN,NaN,6870.0,Private not-for-profit,NaN,NaN
3,University of Alabama in Huntsville,1501+,1500+,2054.0,1656.0,651.0,9192.0,Public,23466.0,35780.0
4,Alabama State University,1501+,1500+,10245.0,5251.0,1479.0,8720.0,Public,18286.0,25222.0

In [14]:
# remove rows with any Nan values (removes ~210 rows, mostly from Ranking 1500+)
df = df.dropna()
print(df.shape)

(1326, 10)

### Correlation Matrix for top 1500 universities

In [15]:
topUniDf = df[df['Ranking display'] == 'top 1500'] \
                .drop(columns=['Name', 'Control of institution',
                               'Ranking', 'Ranking display'])

corrMatrixTopUni = topUniDf.corr(method='pearson')
corrMatrixTopUni.style.background_gradient(cmap='coolwarm')

### Correlation Matrix for universities ranked 1500+

In [16]:
nonTopUniDf = df[df['Ranking display'] == '1500+'] \
                .drop(columns=['Name', 'Control of institution',
                               'Ranking', 'Ranking display'])

corrMatrixNonTopUni = nonTopUniDf.corr(method='pearson')
corrMatrixNonTopUni.style.background_gradient(cmap='coolwarm')

### Correlation Matrix for all universities

In [17]:
def modifyRanking(ranking):
    if '–' in ranking:
        ranking = (int(ranking.split('–')[0]) + int(ranking.split('–')[1])) // 2
    elif '+' in ranking:
        ranking = ranking[:len(ranking)-1]
    return ranking

allUniWithRankDf = df.drop(columns=['Name', 'Control of institution', 'Ranking display'])
allUniWithRankDf['Ranking'] = df.apply(lambda row: modifyRanking(row['Ranking']), axis=1)
allUniWithRankDf['Ranking'] = pd.to_numeric(allUniWithRankDf['Ranking'])

corrMatrixAllUniWithRank = allUniWithRankDf.corr(method='pearson')
corrMatrixAllUniWithRank.style.background_gradient(cmap='coolwarm')