In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#### Load dataset

In [6]:
# create dataframe from file
df = pd.read_csv("university_data.csv")
print(df.shape)
df.head()

(1326, 7)

,Name,Applicants total,Enrolled total,Tuition and fees,Costs of living on campus,Ranking,Ranking display
0,Alabama A & M University,6142.0,1104.0,7182.0,27441.0,1000+,1000+
1,University of Alabama at Birmingham,5689.0,1773.0,7206.0,31687.0,301-400,top 1000
2,University of Alabama in Huntsville,2054.0,651.0,9192.0,35780.0,1000+,1000+
3,Alabama State University,10245.0,1479.0,8720.0,25222.0,1000+,1000+
4,The University of Alabama,30975.0,6454.0,9450.0,41500.0,1000+,1000+

#### Add Enrolled [%]

In [7]:
# Add % split of enrolled/applicants
df["Enrolled percentage"] = round(df["Enrolled total"] / df["Applicants total"] * 100, 2)
df = df.drop(columns=['Enrolled total', 'Applicants total'])
enrolledPercentageColumn = df.pop('Enrolled percentage')
df.insert(1, 'Enrolled percentage', enrolledPercentageColumn)
df.head()

,Name,Enrolled percentage,Tuition and fees,Costs of living on campus,Ranking,Ranking display
0,Alabama A & M University,17.97,7182.0,27441.0,1000+,1000+
1,University of Alabama at Birmingham,31.17,7206.0,31687.0,301-400,top 1000
2,University of Alabama in Huntsville,31.69,9192.0,35780.0,1000+,1000+
3,Alabama State University,14.44,8720.0,25222.0,1000+,1000+
4,The University of Alabama,20.84,9450.0,41500.0,1000+,1000+

In [8]:
def modifyRanking(ranking):
    if '-' in ranking:
        ranking = (int(ranking.split('-')[0]) + int(ranking.split('-')[1])) // 2
    elif '+' in ranking:
        ranking = ranking[:len(ranking)-1]
    return ranking

### Correlation Matrix for top 1500 universities

In [10]:
topUniDf = df[df['Ranking display'] == 'top 1000'].drop(columns=['Name', 'Ranking display'])
topUniDf['Ranking'] = df.apply(lambda row: modifyRanking(row['Ranking']), axis=1)
topUniDf['Ranking'] = pd.to_numeric(topUniDf['Ranking'])

corrMatrixTopUni = topUniDf.corr(method='pearson')
corrMatrixTopUni.style.background_gradient(cmap='coolwarm')

### Correlation Matrix for universities ranked 1500+

In [12]:
nonTopUniDf = df[df['Ranking display'] == '1000+'].drop(columns=['Name', 'Ranking', 'Ranking display'])

corrMatrixNonTopUni = nonTopUniDf.corr(method='pearson')
corrMatrixNonTopUni.style.background_gradient(cmap='coolwarm')

### Correlation Matrix for all universities

In [14]:
allUniWithRankDf = df.drop(columns=['Name','Ranking display'])

allUniWithRankDf['Ranking'] = df.apply(lambda row: modifyRanking(row['Ranking']), axis=1)
allUniWithRankDf['Ranking'] = pd.to_numeric(allUniWithRankDf['Ranking'])

corrMatrixAllUniWithRank = allUniWithRankDf.corr(method='pearson')
corrMatrixAllUniWithRank.style.background_gradient(cmap='coolwarm')